<main class="page">
    <div class="center">
        <div class="box-profile">
            <form action="#" id="profile-form">
                <div class="box__title_profile box__title_main">
                    Смена пароля
                </div>

                <div class="form-items form-items__profile form-items__border-bottom">
                    {{{ inputOldPassword }}}
                    {{{ inputNewPassword }}}
                    {{{ inputRepeatPassword }}}
                </div>

                <div class="group-buttons">
                    {{{ button }}}
                </div>
            </form>
        </div>
    </div>
</main>
