<main class="page">
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="login-form">
                <div class="box__title box__title_main">
                    Вход
                </div>

                <div class="form-items">
                    {{> Input label="Логин" name="login" id="login" type="text" }}
                    {{> Input label="Пароль" name="password" id="password" type="password" errorName="Ошибка" }}
                </div>

                <div class="group-buttons">
                    {{> Button page="nav" name="Авторизоваться" type="submit" style="primary" }}
                    {{> Link page="registration" position="center" style="primary" name="Нет аккаунта?" }}
                </div>
            </form>
        </div>
    </div>
</main>
