<div class="message__actions-dialog">
    {{{DotsButton icon="foto-video" name="Фото или видео"}}}
    {{{DotsButton icon="file" name="Файл"}}}
    {{{DotsButton icon="location" name="Локация"}}}
</div>
