<main>
    <div class="center">
        <div class="box-profile">
            <form action="#" id="profile-form">
                <div class="box__title_profile box__title_main">
                    Профиль
                </div>

                <div class="form-items form-items__profile form-items__border-bottom">
                    {{> Input label="Почта" id="email" type="email" value="neagz@yandex.ru" }}
                    {{> Input label="Логин" id="login" type="text" value="neagz" }}
                    {{> Input label="Имя" id="first_name" type="text" value="Андрей" }}
                    {{> Input label="Фамилия" id="second_name" type="text" value="Быстров" }}
                    {{> Input label="Имя в чате" id="username" type="text" value="Андрей Б." }}
                    {{> Input label="Телефон" id="phone" type="text" value="+7 (999) 668 02 50" }}
                </div>

                <div class="group-buttons">
                    {{> Button page="profile" name="Сохранить" type="submit" style="primary" }}
                </div>
            </form>
        </div>
    </div>
</main>