<main>
    <div class="center">
        <div class="error">
            <div class="error__title">
                Здесь будет Чат
            </div>

            <div class="error__description">
                Сейчас он на доработке
            </div>

            <div class="error__link">
                {{> Link page="nav" position="center" style="primary" name="Выход"}}
            </div>
        </div>
    </div>
</main>
