<nav aria-label="Основная навигация">
    <ul>
        <li>{{> Link page="login" position="center" style="profile_primary" name="Вход"}}</li>
        <li>{{> Link page="registration" position="center" style="profile_primary" name="Регистрация"}}</li>
        <li>{{> Link page="list" position="center" style="profile_primary" name="Чат [Заглушка]"}}</li>
        <li>{{> Link page="profile" position="center" style="profile_primary" name="Профиль"}}</li>
        <li>{{> Link page="profile_edit" position="center" style="profile_primary" name="Изменить профиль"}}</li>
        <li>{{> Link page="profile_password" position="center" style="profile_primary" name="Изменить пароль"}}</li>
        <li>{{> Link page="500" position="center" style="profile_primary" name="Ошибка 500"}}</li>
        <li>{{> Link page="404" position="center" style="profile_primary" name="Ошибка 404"}}</li>
    </ul>
</nav>
