<main class="page">
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="test-form">
                <div class="box__title box__title_main">
                    {{title}}
                </div>
                <div class="group-buttons">
                    <div data-id="button1"></div> <!-- Кнопка 1 -->
                    <div data-id="button2"></div> <!-- Кнопка 2 -->
                </div>
            </form>
        </div>
    </div>
</main>
