<main class="page">
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="registration-form">
                <div class="box__title box__title_main">
                    {{title}}
                </div>
                <div class="group-buttons">
                    {{> TestButton text="Нажми меня" className="my-button"}}
                </div>
            </form>
        </div>
    </div>
</main>
