<main class="page">
    <div class="center">
        <div class="error">
            <div class="error__title">
                500
            </div>

            <div class="error__description">
                Мы уже фиксим
            </div>

            <div class="error__link">
                {{{ link }}}
            </div>
        </div>
    </div>
</main>
