<div class="chat-header">
    <div class="chat-header__user">
        <div class="chat-header__avatar">
            <img src="{{avatar}}" class="chat-header__avatar-image" alt="Аватар {{username}}">
        </div>
        <div class="chat-header__username">{{username}}</div>
        <div class="class-header__actions">
            <button class="dots-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</div>
