<main>
    <div class="center">
        <div class="box box__shadow">
            <form action="#" id="registration-form">
                <div class="box__title box__title_main">
                    Регистрация
                </div>

                <div class="form-items">
                    {{> Input label="Почта" id="email" type="email" }}
                    {{> Input label="Логин" id="login" type="text" errorName="Неверный логин" }}
                    {{> Input label="Имя" id="first_name" type="text" }}
                    {{> Input label="Фамилия" id="second_name" type="text" }}
                    {{> Input label="Телефон" id="phone" type="text"}}
                    {{> Input label="Пароль" id="password" type="password" }}
                    {{> Input label="Пароль (еще раз)" id="confirm_password" type="password" errorName="Пароли не совпадают" }}
                </div>

                <div class="group-buttons">
                    {{> Button page="nav" name="Зарегистрироваться" type="submit" style="primary" }}
                    {{> Link page="login" position="center" style="primary" name="Войти"}}
                </div>
            </form>
        </div>
    </div>
</main>