<div class="dialog-container">
    <div class="dialog-container__remove">
        <h2 class="dialog__title">{{title}}</h2>
        <div class="dialog__body">
            <div data-id="input"></div>
        </div>
        <div class="dialog__footer">
            <div data-id="button"></div>
        </div>
    </div>
</div>
