<main>
    <div class="center">
        <div class="error">
            <div class="error__title">
                404
            </div>

            <div class="error__description">
                Не туда попали
            </div>

            <div class="error__link">
                {{> Link page="nav" position="center" style="primary" name="Назад к чатам"}}
            </div>
        </div>
    </div>
</main>