<div class="message-input">
    <button class="message-input__attach-btn" aria-label="Прикрепить файл" title="Прикрепить файл">
        <svg class="message-input__attach-icon" viewBox="0 0 32 32" aria-hidden="true">
            <path d="m18.726 27.5c-3.281 3.273-8.693 3.174-12.188-.313-3.495-3.488-3.598-8.886-.314-12.158l11.227-11.207c2.355-2.35 6.238-2.275 8.765.243 2.524 2.521 2.592 6.392.235 8.741l-9.797 9.771c-1.428 1.426-3.784 1.395-5.338-.158-1.555-1.551-1.586-3.904-.158-5.33l5.489-5.479c.431-.401.454-1.077.052-1.509-.401-.43-1.075-.453-1.532-.028l-5.521 5.513c-2.277 2.272-2.17 6.017.158 8.34 2.328 2.321 6.084 2.438 8.363.164l9.795-9.779c3.204-3.196 3.055-8.467-.244-11.756-1.649-1.647-3.788-2.504-5.921-2.553-2.131-.048-4.258.709-5.859 2.309l-11.228 11.205c-4.132 4.121-3.945 10.922.322 15.182 4.271 4.26 11.075 4.438 15.206.316l8.361-8.342c.418-.416.418-1.094 0-1.512-.416-.417-1.094-.417-1.511 0z" fill="#000000" style="fill: rgb(153, 153, 153);"></path>
        </svg>
    </button>
    <label for="message" class="visually-hidden"></label>
    <input id="message" class="message" placeholder="Сообщение">
    <button class="message-input__send-btn" title="Отправить">
        <span class="message-input__send-icon">
            <span class="message-input__send-icon-line-1"></span>
            <span class="message-input__send-icon-line-2"></span>
            <span class="message-input__send-icon-line-3"></span>
        </span>
    </button>
</div>
